.about {

	background: url('../../assets/bg/bg_about.jpg') no-repeat;
	background-size: cover;

	// width: 100vw;
	height: 100vh;



	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&:before {
		content: '';

		background-color:rgba(0, 0, 0, .5);

		width: 100%;
		height: 100%;

		display: block;

		position: absolute;	
	}

	// .about__name

	&__name {
		position: relative;
		z-index: 2;
		color: $col-light_text;
		font-size: 100px;
		margin-bottom: 30px;
		text-align: center;
	}

	// .about__title

	&__title {
		font-size: 60px;
		text-align: center;
	}

	// .about__living

	&__living {
	}
}
